:root{
--militar:#4B5320;
--verde:#99CD85;
--escuro:#2B2B2B;
--card:#3A3A3A;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:var(--escuro);
color:white;
overflow-x:hidden;
}

#leafCanvas{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

header{
background:var(--militar);
padding:25px;
text-align:center;
box-shadow:0 0 15px black;
}

.hero{
padding:50px;
text-align:center;
}

.hero h2{
color:var(--verde);
margin-bottom:20px;
}

button{
background:var(--verde);
color:black;
border:none;
padding:12px 20px;
border-radius:10px;
cursor:pointer;
font-weight:bold;
transition:.3s;
margin-top:10px;
}

button:hover{
transform:scale(1.05);
}

.estatisticas{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:30px;
}

.stat-card{
background:var(--card);
padding:20px;
border-radius:15px;
text-align:center;
border-left:5px solid var(--verde);
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
padding:30px;
}

.card{
background:var(--card);
padding:20px;
border-radius:15px;
}

input{
width:100%;
padding:10px;
border:none;
border-radius:10px;
margin:10px 0;
}

.barra{
width:100%;
height:25px;
background:#555;
border-radius:20px;
overflow:hidden;
margin-top:15px;
}

#fill{
width:0%;
height:100%;
background:var(--verde);
transition:1s;
}

.grafico{
padding:30px;
}

#desmatamentoChart{
background:white;
border-radius:15px;
padding:15px;
}

.titulo-mapa{
text-align:center;
margin-bottom:20px;
}

#map{
height:500px;
margin:20px;
border-radius:15px;
overflow:hidden;
}

footer{
background:var(--militar);
padding:20px;
text-align:center;
margin-top:20px;
}